/* manrope-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/manrope-v15-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/manrope-v15-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

a:hover {
  text-decoration: none;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style-type: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-animation: bugfix infinite 1s;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scrollbar-gutter: auto;
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  line-height: 27.2px;
  color: #727272;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow-x: hidden;
}
body.hidden {
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container {
  max-width: 1472px;
  padding: 0 16px;
  margin: 0 auto;
}

textarea {
  resize: none;
}

svg {
  width: 100%;
  height: 100%;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.wrapper {
  max-width: 100%;
  padding: 36px 40px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.title {
  font-size: 30px;
  font-weight: 500;
  line-height: 48px;
  color: #1f4284;
}

.content p {
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
}

@media (max-width: 1919px) {
  .title {
    font-size: 26px;
    font-weight: 500;
    line-height: 41.6px;
  }
}
.btn {
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.btn span {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.btn-def {
  border-radius: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-column-gap: 48px;
  -moz-column-gap: 48px;
  column-gap: 48px;
  background-color: #244c98;
  padding: 12px 12px 12px 24px;
  border: 1px solid #244c98;
}
.btn-def__icon {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.btn-def__icon svg {
  width: 24px;
  height: 24px;
}
.btn-def__icon svg path {
  -webkit-transition: stroke 0.5s ease;
  transition: stroke 0.5s ease;
}
.btn-def:hover {
  background-color: #fff;
}
.btn-def:hover span {
  color: #244c98;
}
.btn-def:hover .btn-def__icon {
  background-color: #244c98;
}
.btn-def:hover .btn-def__icon svg path {
  stroke: #fff;
}

.hero {
  border-radius: 10px;
  background-color: #ebf0fa;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.hero__main {
  max-width: 538px;
  padding: 102px 72px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.hero__title {
  margin-bottom: 18px;
}
.hero__text {
  margin-bottom: 36px;
}
.hero__img {
  width: 910px;
  height: 456px;
  border-radius: 0 10px 10px 0;
}
.hero__img img {
  border-radius: 0 10px 10px 0;
  -o-object-fit: contain;
  object-fit: contain;
}
/*# sourceMappingURL=main.css.map */
